<div class="well">
	<script type="text/javascript" charset="utf-8">
		$(function() {
			var _branch,_url,_url2
			_branch = <%= @branch.id %>
			_url = '/branches/' + _branch + '/branchindices/1001/branch_index.json'
			_url2 = '/branches/' + _branch + '/branchindices/1002/branch_index.json'

		  return $.get(_url, function(data_1) {
				return $.get(_url2, function(data_2) {
					var chart, _month
					    _month = [];
							data_1.map(function(y) {
															_month.push(y.month);
									          })

					new Highcharts.Chart({
						chart: {
							renderTo: "chart_1",
							type: 'area'
						},
						title: {
							text: "营业部收入情况"
						},
						xAxis: {
							categories: _month,
							tickInterval: 3
						},
						yAxis: {
							title: {
								text: "单位：亿"
							},
							min: 0,
							labels: {
										formatter: function() {
										   return this.value / 100000000;
										}
									}
						},
						credits: {
							enabled: false
						},
						series: [
						{
						name: '总净佣金',
						data: 	
							(function() {
						                var _results;
						                _results = [];
						                data_1.map(function(y) {
																						_results.push(y.total);
																          })
						                return _results;
						              })(),
							
						},
						{
						name: '营销团队净佣金',
						data: 	
							(function() {
						                var _results;
						                _results = [];
						                data_2.map(function(y) {
																						_results.push(y.total);
																          })
						                return _results;
						              })(),
					
						}
						]
					})
		   });
		  });
		 });
	</script>
	<div id="chart_1">
	</div>
</div>