<div class="span2">
	<div class="sidebar-nav">
		<ul class="nav nav-list">
		  <li class="nav-header"><%= @branch.name %></li>
			<% @broker_types.each do |name| %>
				<li><%= link_to name.broker_type, typebrokers_branch_path([@broker_types]) %></li>
			<% end %>
		  <li class="divider"></li>
		</ul>
	</div>
</div>
<div class="span10">
	<div class="hero-unit">
	    <p>公司拥有一支专业化的营销团队，分布于全国20家分公司，198家证券营业部，立足于金融创新，以开发并销售创新类金融产品和提供一揽子金融解决方案为主要目标，
		致力于满足客户在投资理财、资产配置、并购融资、税务筹划等各方面的金融需求，提供快速专业的咨询服务和产品服务。</p>

	</div>
</div>