<div class="span2">
	<div class="sidebar-nav">
		<ul class="nav nav-list well">
		  <li class="nav-header">
			<i class="icon-list"></i>
			选择分公司
		  </li>
			<%= render @departments %>
		  <li class="divider"></li>
		</ul>
	</div>
</div>
<div class="span10">
	<div class="hero-unit">
		<%= render 'departments/indexview' %>
	</div>
</div>
<div class="span5">
	<div class="well">
		<p>营销团队82个，其中全日制营销团队55个，证券经纪人营销团队27个</p>
	</div>
</div>
<div class="span5">
	<div class="well">
		<p>营销人员6801人，其中证券经纪人3253人，营销经理527人，全日营销经理2247人</p>
	</div>
</div>
<div class="span5">
	<div class="well">
		<p>公司当前有分公司15家，直属营业部34家，共计营业部202家</p>
	</div>
</div>
<div class="span5">
	<div class="well">
		<p>本月新增客户数95315人，其中营销团队客户数20532人，渠道客户数7428人，营业自主开发客户数67123人</p>
	</div>
</div>