<div class="span3">
	<div class="sidebar-nav">
		<ul class="nav nav-list well">
		  <li class="nav-header">选择分公司</li>
			<%= render @departments %>
		  <li class="divider"></li>
		</ul>
	</div>
</div>
<div class="span9">
	<div class="hero-unit">
		<p>A证券公司创建于1988年，随着中国资本市场的大跨步前进，公司也不断发展和壮大，逐步成长为国内证券行业的翘楚。公司前身为“上海A证券公司”，于1994年改制为有限责任公司，
		并发展成全国性的证券公司。2001年底，公司整体改制为股份有限公司。在二十几年的发展过程中，公司始终保持着稳健的经营理念，取得了行业内领先的地位。
		公司也由成立之初的13名员工发展到现在的由91名博士、1175名硕士和6000名学士等共近万名员工组成的国内一流的证券公司。公司客户总数达到300万。</p>
	</div>
</div>