<div class="page-header">
	<h1>营销团队综合管理视图</h1>
</div>
<div class="hero-unit">
	<p>
		本系统致力于实现和满足人员综合管理查询、跨系统api发布功能。由<%= mail_to 'zishi.mou@sungard.com','牟子实' %>开发维护。 项目采用ruby on rails框架，由TextMate编写，使用mysql5.1社区版数据库。 本项目遵循GPL v3协议，任何组织或个人以及商业软件公司可免费引用/修改/衍生代码，但不得用于商业销售使用目的。
	</p>
</div>
</div>