<div class="page-header">
	<h1>帮助</h1>
</div>
<div class="hero-unit">
	<p>
		本项目以及相关说明由<%= link_to 'Github', 'https://github.com/hielf/broker_view' %>托管。</br>
		各种最新使用说明、问题跟踪、项目介绍以及进度计划都可由托管平台获得。
	</p>
</div>