<div class="page-header">
	<h1>待审批事项</h1>
</div>
<table class="table table-striped">
	<thead>
		<tr>
      <th>业务类型</th>
      <th>处理信息</th>
			<th>流程经办人</th>
			<th></th>
    </tr>
	</thead>
  <tbody>
		<tr>
			<td>营销人员开户审批</td>
			<td>福州群众路营业部</td>
			<td>王春林</td>
			<td>
				<%= link_to "处理", "/", :class => 'btn btn-mini btn-success' %>
			</td>
		</tr>
		<tr>
			<td>营销人员薪酬模板</td>
			<td>福州群众路营业部</td>
			<td>林凯</td>
			<td>
				<%= link_to "处理", "/", :class => 'btn btn-mini btn-success' %>
			</td>
		</tr>
		<tr>
			<td>营业部经纪人绩效考核参数设置</td>
			<td>上海青浦营业部</td>
			<td>金天春</td>
			<td>
				<%= link_to "处理", "/", :class => 'btn btn-mini btn-success' %>
			</td>
		</tr>
		<tr>
			<td>营业部营销费用申请</td>
			<td>义乌营业部</td>
			<td>丁辉</td>
			<td>
				<%= link_to "处理", "/", :class => 'btn btn-mini btn-success' %>
			</td>
		</tr>
	</tbody>
</table>