<div class="row-fluid">
	<div class="span5">
		<table class="table table-hover table-bordered">
			<caption><h3>待办事项</h3></caption>
		  <tbody>
			  <tr>
		      <th>客户拜访</th>
		      <th><span class="badge badge-important">2</span></th>
		    </tr>
		    <tr>
		      <td>证券从业资格培训</td>
		      <td><span class="badge badge-warning">1</span></td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="span5">
		<table class="table table-hover table-bordered">
			<caption><h3>信息公告</h3></caption>
		  <!-- <thead>
		    <tr>
		      <th><h4>事项</h4></th>
		      <th></th>
		    </tr>
		  </thead> -->
		  <tbody>
			  <tr>
		      <th>开户审批通过</th>
		      <th><span class="badge badge-important">6</span></th>
		    </tr>
		    <tr>
		      <td>客户回访打分</td>
		      <td><span class="badge badge-warning">18</span></td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="span2">
		<ul class="thumbnails">
			<li>
				<a href="/" class="thumbnail">
					<div>
						<%= image_tag("calendar.tiff", :alt => "日历") %>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span10">
		<table class="table table-hover table-bordered table-striped">
		  <caption><h3>工作进度</h3></caption>
		  <thead>
		    <tr>
		      <th>标题</th>
		      <th>当前经办人</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>12月团队营销活动费用申请</td>
		      <td>销售交易总部</td>
		    </tr>
				<tr>
		      <td>高净值客户拜访工作</td>
		      <td>营业部营销总监</td>
		    </tr>
				<tr>
		      <td>个人信息变更</td>
		      <td>营业部总经理</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>