<div>
	<div class="sidebar-nav">
		<ul class="unstyled">
			<blockquote>
			  <p>营销人员资料修改</p>
			  <small>经纪业务管理岗 测试人员</small>
			</blockquote>
			<blockquote>
			  <p>经纪关系挂接</p>
			  <small>李瑾艳</small>
			</blockquote>
		</ul>
	</div>
</div>