<header>
	<%= image_tag("logo.png", :alt => "营销综合管理", :class =>  "round") %>
<nav class="round">
	<ul>
		<li><%= link_to "首页", root_path %>
		<li><%= link_to "帮助", help_path %>
		<li><%= link_to "登陆", '#' %>
	</ul>
</nav>
</header>