<header>
	<nav class="round">
		<ul>
			<li><%= link_to "首页", root_path %>
			<li><%= link_to "帮助", help_path %>
			<li><%= link_to "登录", '#' %>
		</ul>
	</nav>
	<%= link_to logo, root_path %>
</header>